################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/3DRenderer/FileContentIndex
/.vs/3DRenderer/v17
/Renderer/.vs/Renderer
/Renderer/Renderer/x64/Debug
/Renderer/x64/Debug
